.background-1 {
    background: #00000079;
}

.borda {
    border: 4px solid #947b36;
    border-radius: 13px;
}

.bg-video {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: end;

}

.bg-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background:
        linear-gradient(90deg,
            rgba(0, 0, 0, 1) 6%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 1) 100%);

}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 10;
    color: #fff;
}

.conatiner-esquerda {
    width: 35%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.pontos,
.detales-carta {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    height: 3.5rem;
    padding: .8rem;
}
#carta-tipo::first-letter{
text-transform: uppercase;    
}
.detales-carta{
    padding: .8rem .5rem;
}
.avatar img{
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detales-carta {
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}
.carta{
    transition:0.3s;
}
.carta:hover{
    transform: scale(1.2);
    cursor: pointer;
}

#carta-nome {
    font-size: 1.2rem;
}

#carta-tipo {
    font-size: 1rem;
}
#cartaInimigo, #cartaJogador{
    height: 210px;
    padding: .2rem;
}


.container-direita {
    width: 100%;

}

.container-caixa-principal {
    padding: 2rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}


.carta-jogador {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cartas-comparadas {
    height: 260px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartas-comparadas div {
    width: 200px;
}


.icone-versus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-versus-image {

    width: 350px;
    height: 350px;
    background-image: url(../assets/icons/VS.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#proximo-duelo{
    display: none;
}

